<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <%- include('./layout/style'); -%>
  </head>
  <div id="top"></div>
  <body >
    <div class="scroll" >
      <div class="index">
        <%- include('./layout/header'); -%>
        <div
          id="carouselExampleFade"
          class="banner carousel slide carousel-fade"
          data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item header1 active">
              <div class="text-center header1-text d-flex flex-column">
                <div class="vertical-line1 mb-24 mb-md-40"></div>
                <h1 class="heading-header-title text-primary-50 mb-16 mb-md-24">
                  步步踏實尋好豆
                </h1>
                <p class="paragraph-xxlarge text-primary-50 mb-4 mb-md-12">
                  從產地到杯中
                </p>
                <p class="paragraph-xxlarge text-primary-50 mb-24 mb-md-40">
                  Sheepo Coffee 為你萃取每一口的獨特與真誠
                </p>
                <a href="products.html" class="btn2 paragraph-medium ls-2"
                  >逛逛商店</a
                >
                <div class="vertical-line2 mt-24 mb-mt-40 mb-12"></div>
                <svg
                  class="mb-4"
                  width="30"
                  height="30"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2Zm0 1.5a8.5 8.5 0 1 0 0 17 8.5 8.5 0 0 0 0-17ZM7.47 9.97a.75.75 0 0 1 1.06 0L12 13.44l3.47-3.47a.75.75 0 1 1 1.06 1.06l-4 4a.75.75 0 0 1-1.06 0l-4-4a.75.75 0 0 1 0-1.06Z"
                    fill="#f7f6ef" />
                </svg>
              </div>
            </div>
            <div class="carousel-item header2">
              <div class="text-center header2-text d-flex flex-column">
                <div class="vertical-line3 mb-40"></div>
                <p class="heading-header-title text-primary-50 mb-4 mb-md-8">
                  限時折扣
                </p>
                <p class="heading-header-title text-primary-50 mb-16 mb-md-24">
                  全店滿千折百
                </p>
                <p class="paragraph-xxlarge text-primary-50 mb-4 mb-md-12">
                  現在下單滿 NT$1,000 現折 NT$100
                </p>
                <p class="paragraph-xxlarge text-primary-50 mb-24 mb-md-40">
                  把喜歡的風味一次帶回家！
                </p>
                <a href="products.html" class="btn2 paragraph-medium ls-2"
                  >逛逛商店</a
                >
                <div class="vertical-line2 mt-40 mb-12"></div>
                <svg
                  class="mb-4"
                  width="30"
                  height="30"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2Zm0 1.5a8.5 8.5 0 1 0 0 17 8.5 8.5 0 0 0 0-17ZM7.47 9.97a.75.75 0 0 1 1.06 0L12 13.44l3.47-3.47a.75.75 0 1 1 1.06 1.06l-4 4a.75.75 0 0 1-1.06 0l-4-4a.75.75 0 0 1 0-1.06Z"
                    fill="#f7f6ef" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="index">
        <div class="container moon">
          <div class="row d-flex align-items-end">
            <div
              class="vh-80 col-12 col-md-7 col-lg-4 d-flex flex-column justify-content-between">
              <div class="index-top">
                <p class="moon-title text-primary-950 mb-8 mb-md-12 mb-lg-20">
                  中秋節
                </p>
                <p class="moon-title text-primary-950 mb-12 mb-md-32 mb-lg-48">
                  限定濾掛禮盒
                </p>
                <div class="d-flex align-items-center mb-12 mb-md-0">
                  <p class="label-large font-weight-bold ls-2 me-20 mb-0">
                    Moon Festival Special
                  </p>
                  <div class="horizontal-line"></div>
                </div>
              </div>
              <div class="d-block d-md-none middle">
                <img
                  class="mb-16"
                  src="/images/index/gift box sm.png"
                  alt="中秋禮盒" />
                <p class="mb-4 paragraph-small text-primary-950 ls-2">
                  最暖的中秋禮，是一杯為你準備的好咖啡
                </p>
                <p class="mb-32 paragraph-small text-primary-950 ls-2">
                  限定濾掛禮盒，送給最想念的那個人。
                </p>
              </div>
              <div class="bottom">
                <p class="paragraph-medium text-primary-700 ls-2 mb-4 mb-md-8">
                  這個中秋不只賞月，也要賞味
                </p>
                <p class="paragraph-medium text-primary-700 ls-2 mb-4 mb-md-8">
                  送出一份不一樣的團圓滋味
                </p>
                <p class="paragraph-medium text-primary-700 ls-2 mb-4 mb-md-8">
                  精選三款風味咖啡豆，
                </p>
                <p class="paragraph-medium text-primary-700 ls-2 mb-4 mb-md-8">
                  陪你用香氣迎接中秋節的每一個清晨與夜晚。
                </p>
                <p
                  class="paragraph-medium text-primary-700 ls-2 mb-20 mb-md-40">
                  要跟大家過一個甜甜蜜蜜的中秋節！
                </p>
                <a
                  href="products.html"
                  class="btn1 paragraph-medium ls-2 d-inline-block"
                  >查看商品</a
                >
              </div>
            </div>
            <div class="col-5 col-lg-8">
              <div class="row d-none d-sm-flex align-items-end">
                <div class="d-none d-md-block col-4 d-flex end">
                  <div class="d-flex flex-column end">
                    <span class="mb-4 paragraph-small text-primary-950 ls-2"
                      >最暖的中秋禮，</span
                    >
                    <span class="mb-4 paragraph-small text-primary-950 ls-2"
                      >是一杯為你準備的好咖啡</span
                    >
                    <span class="mb-4 paragraph-small text-primary-950 ls-2"
                      >限定濾掛禮盒，</span
                    >
                    <span class="paragraph-small text-primary-950 ls-2"
                      >送給最想念的那個人。</span
                    >
                  </div>
                </div>
                <div class="d-none d-md-block col-12 col-lg-8">
                  <img src="/images/index/gift box.png" alt="中秋禮盒" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="index2">
      <div class="container py-40 py-md-120">
        <div class="new">
          <p class="heading-small ls-2 text-accent-300 mb-12">NEW</p>
          <div class="title d-flex align-items-center mb-24 mb-md-40">
            <p class="heading-xxlarge text-primary-950 ls-2 me-20 mb-0">
              本月新品
            </p>
            <div class="horizontal-line2"></div>
          </div>
        </div>
        <div
          class="row row-cols-md-3 gx-md-64 gx-20 mb-64 flex-nowrap overflow-hidden overflow-x-auto">
          <!-- whiteCoffeeCup -->
          <div class="col-md w-256">
            <a href="#" class="text-decoration-none products-link">
              <div class="card">
                <!-- 商品照與底色 -->
                <div
                  class="w-100 ratio ratio-1x1 bg-primary-50 position-relative">
                  <div class="heartArea">
                    <label for="greenCoffeeCup" class="products-label">
                      <input
                        type="checkbox"
                        id="greenCoffeeCup"
                        class="productsHeart" />
                      <!-- 實心愛心 -->
                      <svg
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="products-heartFilled">
                        <path
                          d="m12.82 5.58-.82.822-.824-.824a5.375 5.375 0 1 0-7.601 7.602l7.895 7.895a.75.75 0 0 0 1.06 0l7.902-7.897a5.376 5.376 0 0 0-.001-7.599 5.38 5.38 0 0 0-7.611 0Z"
                          fill="#5B4530" />
                      </svg>
                      <!-- 空心愛心 -->
                      <svg
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="products-heartOutlined">
                        <path
                          d="m12.82 5.58-.82.822-.824-.824a5.375 5.375 0 1 0-7.601 7.602l7.895 7.895a.75.75 0 0 0 1.06 0l7.902-7.897a5.376 5.376 0 0 0-.001-7.599 5.38 5.38 0 0 0-7.611 0Zm6.548 6.54L12 19.485 4.635 12.12a3.875 3.875 0 1 1 5.48-5.48l1.358 1.357a.75.75 0 0 0 1.073-.012L13.88 6.64a3.88 3.88 0 0 1 5.487 5.48Z"
                          fill="#ADADAD" />
                      </svg>
                    </label>
                  </div>

                  <img
                    src="/images/productsImg/greenCoffeeCup.png"
                    class="w-100 object-fit-cover position-absolute top-50 start-50 translate-middle pe-none"
                    alt="..." />
                </div>
                <div class="card-body products-bg text-center py-20 px-0">
                  <h5
                    class="card-title label-small products-label-md-small text-primary-700 mb-8">
                    經典咖啡豆 | 深度烘焙
                  </h5>
                  <p
                    class="card-text paragraph-medium products-paragraph-md-xlarge text-primary-950 mb-8">
                    祕魯 薇拉瑞卡 安迪亞斯莊園
                  </p>
                  <p
                    class="card-text label-medium products-label-md-large text-primary-950">
                    $280~$600
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md w-256">
            <a href="#" class="text-decoration-none products-link">
              <div class="card">
                <!-- 商品照與底色 -->
                <div
                  class="w-100 ratio ratio-1x1 bg-primary-50 position-relative">
                  <div class="heartArea">
                    <label for="whiteCoffeeCup" class="products-label">
                      <input
                        type="checkbox"
                        id="whiteCoffeeCup"
                        class="productsHeart" />
                      <!-- 實心愛心 -->
                      <svg
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="products-heartFilled">
                        <path
                          d="m12.82 5.58-.82.822-.824-.824a5.375 5.375 0 1 0-7.601 7.602l7.895 7.895a.75.75 0 0 0 1.06 0l7.902-7.897a5.376 5.376 0 0 0-.001-7.599 5.38 5.38 0 0 0-7.611 0Z"
                          fill="#5B4530" />
                      </svg>
                      <!-- 空心愛心 -->
                      <svg
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="products-heartOutlined">
                        <path
                          d="m12.82 5.58-.82.822-.824-.824a5.375 5.375 0 1 0-7.601 7.602l7.895 7.895a.75.75 0 0 0 1.06 0l7.902-7.897a5.376 5.376 0 0 0-.001-7.599 5.38 5.38 0 0 0-7.611 0Zm6.548 6.54L12 19.485 4.635 12.12a3.875 3.875 0 1 1 5.48-5.48l1.358 1.357a.75.75 0 0 0 1.073-.012L13.88 6.64a3.88 3.88 0 0 1 5.487 5.48Z"
                          fill="#ADADAD" />
                      </svg>
                    </label>
                  </div>

                  <img
                    src="/images/productsImg/whiteCoffeeCup.png"
                    class="w-100 object-fit-cover position-absolute top-50 start-50 translate-middle pe-none"
                    alt="..." />
                </div>
                <div class="card-body products-bg text-center py-20 px-0">
                  <h5
                    class="card-title label-xsmall products-label-md-small text-primary-700 mb-8">
                    經典咖啡豆 | 輕度烘焙
                  </h5>
                  <p
                    class="card-text paragraph-medium products-paragraph-md-xlarge text-primary-950 mb-8">
                    肯亞 涅里區聯合處理廠
                  </p>
                  <p
                    class="card-text label-medium products-label-md-large text-primary-950">
                    $350~$600
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md w-256">
            <a href="#" class="text-decoration-none products-link">
              <div class="card">
                <!-- 商品照與底色 -->
                <div
                  class="w-100 ratio ratio-1x1 bg-primary-50 position-relative">
                  <div class="heartArea">
                    <label for="yellowCoffeeCup" class="products-label">
                      <input
                        type="checkbox"
                        id="yellowCoffeeCup"
                        class="productsHeart" />
                      <!-- 實心愛心 -->
                      <svg
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="products-heartFilled">
                        <path
                          d="m12.82 5.58-.82.822-.824-.824a5.375 5.375 0 1 0-7.601 7.602l7.895 7.895a.75.75 0 0 0 1.06 0l7.902-7.897a5.376 5.376 0 0 0-.001-7.599 5.38 5.38 0 0 0-7.611 0Z"
                          fill="#5B4530" />
                      </svg>
                      <!-- 空心愛心 -->
                      <svg
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="products-heartOutlined">
                        <path
                          d="m12.82 5.58-.82.822-.824-.824a5.375 5.375 0 1 0-7.601 7.602l7.895 7.895a.75.75 0 0 0 1.06 0l7.902-7.897a5.376 5.376 0 0 0-.001-7.599 5.38 5.38 0 0 0-7.611 0Zm6.548 6.54L12 19.485 4.635 12.12a3.875 3.875 0 1 1 5.48-5.48l1.358 1.357a.75.75 0 0 0 1.073-.012L13.88 6.64a3.88 3.88 0 0 1 5.487 5.48Z"
                          fill="#ADADAD" />
                      </svg>
                    </label>
                  </div>

                  <img
                    src="/images/productsImg/yellowCoffeeCup.png"
                    class="w-100 object-fit-cover position-absolute top-50 start-50 translate-middle pe-none"
                    alt="..." />
                </div>
                <div class="card-body products-bg text-center py-20 px-0">
                  <h5
                    class="card-title label-xsmall products-label-md-small text-primary-700 mb-8">
                    經典咖啡豆 | 中度烘焙
                  </h5>
                  <p
                    class="card-text paragraph-medium products-paragraph-md-xlarge text-primary-950 mb-8">
                    巴西 星河莊園
                  </p>
                  <p
                    class="card-text label-medium products-label-md-large text-primary-950">
                    $200~$600
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="new">
          <p class="heading-small ls-2 text-accent-300 mb-12">NEW</p>
          <div class="title d-flex align-items-center mb-24 mb-md-40">
            <p class="heading-xxlarge text-primary-950 ls-2 me-20 mb-0">
              熱銷品項
            </p>
            <div class="horizontal-line2"></div>
          </div>
        </div>
        <div
          class="row row-cols-md-3 gx-md-64 gx-20 flex-nowrap overflow-hidden overflow-x-auto">
          <!-- whiteCoffeeCup -->
          <div class="col-md w-256">
            <a href="#" class="text-decoration-none products-link">
              <div class="card">
                <!-- 商品照與底色 -->
                <div
                  class="w-100 ratio ratio-1x1 bg-primary-50 position-relative">
                  <div class="heartArea">
                    <label for="blackCoffeeBean" class="products-label">
                      <input
                        type="checkbox"
                        id="blackCoffeeBean"
                        class="productsHeart" />
                      <!-- 實心愛心 -->
                      <svg
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="products-heartFilled">
                        <path
                          d="m12.82 5.58-.82.822-.824-.824a5.375 5.375 0 1 0-7.601 7.602l7.895 7.895a.75.75 0 0 0 1.06 0l7.902-7.897a5.376 5.376 0 0 0-.001-7.599 5.38 5.38 0 0 0-7.611 0Z"
                          fill="#5B4530" />
                      </svg>
                      <!-- 空心愛心 -->
                      <svg
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="products-heartOutlined">
                        <path
                          d="m12.82 5.58-.82.822-.824-.824a5.375 5.375 0 1 0-7.601 7.602l7.895 7.895a.75.75 0 0 0 1.06 0l7.902-7.897a5.376 5.376 0 0 0-.001-7.599 5.38 5.38 0 0 0-7.611 0Zm6.548 6.54L12 19.485 4.635 12.12a3.875 3.875 0 1 1 5.48-5.48l1.358 1.357a.75.75 0 0 0 1.073-.012L13.88 6.64a3.88 3.88 0 0 1 5.487 5.48Z"
                          fill="#ADADAD" />
                      </svg>
                    </label>
                  </div>

                  <img
                    src="/images/productsImg/blackCoffeeBean.png"
                    class="w-100 object-fit-cover position-absolute top-50 start-50 translate-middle pe-none"
                    alt="..." />
                </div>
                <div class="card-body products-bg text-center py-20 px-0">
                  <h5
                    class="card-title label-small products-label-md-small text-primary-700 mb-8">
                    經典咖啡豆 | 中度烘焙
                  </h5>
                  <p
                    class="card-text paragraph-medium products-paragraph-md-xlarge text-primary-950 mb-8">
                    冬雪藏梅 配方
                  </p>
                  <p
                    class="card-text label-medium products-label-md-large text-primary-950">
                    $200~$600
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md w-256">
            <a href="#" class="text-decoration-none products-link">
              <div class="card">
                <!-- 商品照與底色 -->
                <div
                  class="w-100 ratio ratio-1x1 bg-primary-50 position-relative">
                  <div class="heartArea">
                    <label for="brownCoffeeBean" class="products-label">
                      <input
                        type="checkbox"
                        id="brownCoffeeBean"
                        class="productsHeart" />
                      <!-- 實心愛心 -->
                      <svg
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="products-heartFilled">
                        <path
                          d="m12.82 5.58-.82.822-.824-.824a5.375 5.375 0 1 0-7.601 7.602l7.895 7.895a.75.75 0 0 0 1.06 0l7.902-7.897a5.376 5.376 0 0 0-.001-7.599 5.38 5.38 0 0 0-7.611 0Z"
                          fill="#5B4530" />
                      </svg>
                      <!-- 空心愛心 -->
                      <svg
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="products-heartOutlined">
                        <path
                          d="m12.82 5.58-.82.822-.824-.824a5.375 5.375 0 1 0-7.601 7.602l7.895 7.895a.75.75 0 0 0 1.06 0l7.902-7.897a5.376 5.376 0 0 0-.001-7.599 5.38 5.38 0 0 0-7.611 0Zm6.548 6.54L12 19.485 4.635 12.12a3.875 3.875 0 1 1 5.48-5.48l1.358 1.357a.75.75 0 0 0 1.073-.012L13.88 6.64a3.88 3.88 0 0 1 5.487 5.48Z"
                          fill="#ADADAD" />
                      </svg>
                    </label>
                  </div>

                  <img
                    src="/images/productsImg/brownCoffeeBean.png"
                    class="w-100 object-fit-cover position-absolute top-50 start-50 translate-middle pe-none"
                    alt="..." />
                </div>
                <div class="card-body products-bg text-center py-20 px-0">
                  <h5
                    class="card-title label-xsmall products-label-md-small text-primary-700 mb-8">
                    經典咖啡豆 | 深度烘焙
                  </h5>
                  <p
                    class="card-text paragraph-medium products-paragraph-md-xlarge text-primary-950 mb-8">
                    衣索比亞 谷吉 赫瑪聯合處理場
                  </p>
                  <p
                    class="card-text label-medium products-label-md-large text-primary-950">
                    $280~$600
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md w-256">
            <a href="#" class="text-decoration-none products-link">
              <div class="card">
                <!-- 商品照與底色 -->
                <div
                  class="w-100 ratio ratio-1x1 bg-primary-50 position-relative">
                  <div class="heartArea">
                    <label for="redCoffeeBean" class="products-label">
                      <input
                        type="checkbox"
                        id="redCoffeeBean"
                        class="productsHeart" />
                      <!-- 實心愛心 -->
                      <svg
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="products-heartFilled">
                        <path
                          d="m12.82 5.58-.82.822-.824-.824a5.375 5.375 0 1 0-7.601 7.602l7.895 7.895a.75.75 0 0 0 1.06 0l7.902-7.897a5.376 5.376 0 0 0-.001-7.599 5.38 5.38 0 0 0-7.611 0Z"
                          fill="#5B4530" />
                      </svg>
                      <!-- 空心愛心 -->
                      <svg
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="products-heartOutlined">
                        <path
                          d="m12.82 5.58-.82.822-.824-.824a5.375 5.375 0 1 0-7.601 7.602l7.895 7.895a.75.75 0 0 0 1.06 0l7.902-7.897a5.376 5.376 0 0 0-.001-7.599 5.38 5.38 0 0 0-7.611 0Zm6.548 6.54L12 19.485 4.635 12.12a3.875 3.875 0 1 1 5.48-5.48l1.358 1.357a.75.75 0 0 0 1.073-.012L13.88 6.64a3.88 3.88 0 0 1 5.487 5.48Z"
                          fill="#ADADAD" />
                      </svg>
                    </label>
                  </div>

                  <img
                    src="/images/productsImg/redCoffeeBean.png"
                    class="w-100 object-fit-cover position-absolute top-50 start-50 translate-middle pe-none"
                    alt="..." />
                </div>
                <div class="card-body products-bg text-center py-20 px-0">
                  <h5
                    class="card-title label-xsmall products-label-md-small text-primary-700 mb-8">
                    經典咖啡豆 | 深度烘焙
                  </h5>
                  <p
                    class="card-text paragraph-medium products-paragraph-md-xlarge text-primary-950 mb-8">
                    衣索比亞 西達摩 蕾羅莎處理廠
                  </p>
                  <p
                    class="card-text label-medium products-label-md-large text-primary-950">
                    $350~$600
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="explore-ad">
        <div class="container explore-ad-text py-64 py-md-82">
          <p class="heading-xxxlarge mb-8 mb-md-20 text-grey-0">找尋</p>
          <p class="heading-xxxlarge mb-20 text-grey-0">屬於我的咖啡風味</p>
          <div class="horizontal-line3"></div>
          <p class="paragraph-xlarge text-grey-0 my-20 ls-2">
            風味太多選不出來？我們將會帶領您探索屬於您的風味咖啡
          </p>
          <a
            href="explore.html"
            class="btn2 paragraph-medium ls-2 d-inline-block"
            >探索去</a
          >
        </div>
      </div>
      <div class="py-md-120 py-40">
        <div class="text-center">
          <p class="heading-small ls-2 text-accent-300 mb-12">FEEDBACK</p>
          <p class="heading-xxlarge ls-2 text-primary-950 mb-24 mb-md-64">
            顧客好評
          </p>
          <div class="box">
            <div class="list">
              <div class="feedback">
                <div class="p-20 p-md-32">
                  <div class="d-flex align-items-center mb-8 mb-md-12">
                    <img
                      class="me-12"
                      src="/images/index/feedback/Bella.png"
                      alt="YUI" />
                    <p class="label-medium ls-2 text-primary-950 mb-0">YUI</p>
                  </div>
                  <div class="d-flex align-items-center mb-8 mb-md-12">
                    <p class="label-small ls-2 text-primary-950 me-8 mb-0">
                      5.0
                    </p>
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                  </div>
                  <p
                    class="text-start paragraph-medium ls-2 text-primary-950 mb-0">
                    每一口都喝得出用心，香氣乾淨純粹，沒有多餘的雜味。這是我近期最喜歡的一間咖啡品牌，會想一直回購。
                  </p>
                </div>
              </div>
              <div class="feedback">
                <div class="p-20 p-md-32">
                  <div class="d-flex align-items-center mb-8 mb-md-12">
                    <img
                      class="me-12"
                      src="/images/index/feedback/Andy.png"
                      alt="Marco" />
                    <p class="label-medium ls-2 text-primary-950 mb-0">Marco</p>
                  </div>
                  <div class="d-flex align-items-center mb-8 mb-md-12">
                    <p class="label-small ls-2 text-primary-950 me-8 mb-0">
                      4.5
                    </p>
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                  </div>
                  <p
                    class="text-start paragraph-medium ls-2 text-primary-950 mb-0">
                    每次來這裡都能感受到良好的氛圍，咖啡的質量也很高，尤其是他們的拿鐵，絕對推薦！
                  </p>
                </div>
              </div>
              <div class="feedback">
                <div class="p-20 p-md-32">
                  <div class="d-flex align-items-center mb-8 mb-md-12">
                    <img
                      class="me-12"
                      src="/images/index/feedback/Charlie.png"
                      alt="Sherry" />
                    <p class="label-medium ls-2 text-primary-950 mb-0">
                      Sherry
                    </p>
                  </div>
                  <div class="d-flex align-items-center mb-8 mb-md-12">
                    <p class="label-small ls-2 text-primary-950 me-8 mb-0">
                      4.8
                    </p>
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                  </div>
                  <p
                    class="text-start paragraph-medium ls-2 text-primary-950 mb-0">
                    這裡的咖啡真的很有深度，豆子選擇講究，完全可以感受到烘焙師的用心，值得一試！
                  </p>
                </div>
              </div>
              <div class="feedback">
                <div class="p-20 p-md-32">
                  <div class="d-flex align-items-center mb-8 mb-md-12">
                    <img
                      class="me-12"
                      src="/images/index/feedback/man2.png"
                      alt="Barret" />
                    <p class="label-medium ls-2 text-primary-950 mb-0">
                      Barret
                    </p>
                  </div>
                  <div class="d-flex align-items-center mb-8 mb-md-12">
                    <p class="label-small ls-2 text-primary-950 me-8 mb-0">
                      4.0
                    </p>
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <svg
                      width="16"
                      height="17"
                      fill="#2F2119"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M10.788 3.103c.495-1.004 1.926-1.004 2.421 0l2.358 4.777 5.273.766c1.107.161 1.549 1.522.748 2.303l-3.816 3.72.901 5.25c.19 1.103-.968 1.944-1.959 1.424l-4.716-2.48-4.715 2.48c-.99.52-2.148-.32-1.96-1.424l.901-5.25-3.815-3.72c-.801-.78-.359-2.142.748-2.303L8.43 7.88l2.358-4.777Zm1.21.936L9.74 8.615a1.35 1.35 0 0 1-1.016.738l-5.05.734 3.654 3.562c.318.31.463.757.388 1.195l-.862 5.03 4.516-2.375a1.35 1.35 0 0 1 1.257 0l4.516 2.374-.862-5.029a1.35 1.35 0 0 1 .388-1.195l3.654-3.562-5.05-.734a1.35 1.35 0 0 1-1.016-.738l-2.259-4.576Z"
                        fill="#2F2119" />
                    </svg>
                  </div>
                  <p
                    class="text-start paragraph-medium ls-2 text-primary-950 mb-0">
                    手沖愛好者的交流天地，每次來訪都能對咖啡有更新的認識，他們的冷萃也相當不錯！只可惜預約才能來訪~
                  </p>
                </div>
              </div>
              <div class="feedback">
                <div class="p-20 p-md-32">
                  <div class="d-flex align-items-center mb-8 mb-md-12">
                    <img
                      class="me-12"
                      src="/images/index/feedback/Ethan.png"
                      alt="awei" />
                    <p class="label-medium ls-2 text-primary-950 mb-0">awei</p>
                  </div>
                  <div class="d-flex align-items-center mb-8 mb-md-12">
                    <p class="label-small ls-2 text-primary-950 me-8 mb-0">
                      4.7
                    </p>
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                  </div>
                  <p
                    class="text-start paragraph-medium ls-2 text-primary-950 mb-0">
                    服務態度很好，咖啡的風味獨特，特別喜歡他們的季節限定飲品，每次都會有驚喜！
                  </p>
                </div>
              </div>
              <div class="feedback">
                <div class="p-20 p-md-32">
                  <div class="d-flex align-items-center mb-8 mb-md-12">
                    <img
                      class="me-12"
                      src="/images/index/feedback/man.png"
                      alt="Hsun" />
                    <p class="label-medium ls-2 text-primary-950 mb-0">Hsun</p>
                  </div>
                  <div class="d-flex align-items-center mb-8 mb-md-12">
                    <p class="label-small ls-2 text-primary-950 me-8 mb-0">
                      5.0
                    </p>
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      class="me-4"
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                    <img
                      src="/images/index/feedback/ic_star_fill.png"
                      alt="star" />
                  </div>
                  <p
                    class="text-start paragraph-medium ls-2 text-primary-950 mb-0">
                    包裝精美，咖啡豆香氣十足，出貨速度快，第一次線上訂購就很滿意，收到的時候香味撲鼻。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%> 
    <%- include('./layout/btup'); -%>
    <script type="module" src="../main.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const list = document.querySelector(".list");
        list.innerHTML += list.innerHTML; // 直接複製一份接上去
      });
    </script>

    <%- include('./layout/js'); -%>
  </body>
</html>
